<section id="header">
  <div class="container">
    <div class="col-md-4 offset-md-4 header-column">

      <a class="navbar-brand" href="#"><%= link_to image_tag("logo.png", alt: "Twitter logo", class: "") %></a>
      <form>
        <div class="form-group">
          <label for="sr-only">Username</label>
          <input type="text" class="form-control" placeholder="Your name...">
        </div>
        <div class="form-group">
          <label for="sr-only">Password</label>
          <input type="text" class="form-control" placeholder="Your password...">
        </div>
        <button type="submit" class="btn btn-outline-info btn-block">Log In</button>
      </form>

    </div>
  </div>
</section>
